@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

* {
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --left-sidebar-width: 35vw;
    --right-sidebar-width: calc(100vw - var(--left-sidebar-width));
    --top-bot-height: 35vh;
}

div[class='main'] {
    display: flex;
    flex-direction: row;
}

div[class="left"] {
    position: relative;
    color: white;
}

div[class='left']>img {
    height: calc(var(--top-bot-height) * 2 + 30vh);
    width: var(--left-sidebar-width);
}

div[class='logo']>img {
    width: 50px;
    height: 100px;
}

div[class="logo"] {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    font-size: 100px;
    color: white;
    position: absolute;
    top: 25vh;
    width: var(--left-sidebar-width);
}

div[class='logo']>img {
    opacity: 1.0;
}

p[class='credit'] {
    font-size: 10px;
    font-family: sans-serif;
    position: absolute;
    top: calc(96vh - 25vh);
}

div[class='right'] {
    display: flex;
    flex-direction: column;
    width: var(--right-sidebar-width);
}

div[class='top'],
div[class='bot'] {
    background-color: aliceblue;
    height: var(--top-bot-height);
}

p[class='message'] {
    width: calc(var(--right-sidebar-width) - 20vw);
    font-size: 16px;
    padding: 10px 40px;
    margin-top: 100px;
    font-weight: 600;
}

div[class='mid'] {
    appearance: none;
    background-color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

div[class='mid'] div {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

div[class='bot'] {
    padding: 20px 40px;
}

input {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: calc(var(100vw - --right-sidebar-width));
    gap: 10px;
}

button {
    background-color: #596D48;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 8px;
    margin-bottom: -10px;
}