@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

* {
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --left-sidebar-width: 35vw;
    --right-sidebar-width: calc(100vw - var(--left-sidebar-width));
    --top-bot-height: 35vh;
}

div[class='main'] {
    display: flex;
    flex-direction: row;
}

/* ------------------------------------------------------------------ */

div[class="left"] {
    position: relative;
    color: white;
}

div[class='left']>img {
    height: calc(var(--top-bot-height) * 2 + 30vh);
    width: var(--left-sidebar-width);
}

div[class='logo']>img {
    width: 50px;
    height: 80px;
}

div[class="logo"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse-bold;
    font-size: 80px;
    color: white;
    position: absolute;
    z-index: 1;
    top: 25vh;
    width: var(--left-sidebar-width);
    height: 15vh;
}

div[class='logo-bg'] {
    content: "";
    opacity: 0.5;
    background-color: black;
    width: var(--left-sidebar-width);
    height: 15vh;
    position: absolute;
    z-index: -1;
}

p[class='credit'] {
    font-size: 10px;
    font-family: sans-serif;
    position: absolute;
    top: calc(96vh - 25vh);
}

/* ------------------------------------------------------------------ */

div[class='right'] {
    display: flex;
    flex-direction: column;
    width: var(--right-sidebar-width);
}

/* ------------------------------------------------------------------ */

div[class='top'],
div[class='bot'] {
    background-color: aliceblue;
    height: var(--top-bot-height);
}

p[class='message'] {
    width: calc(var(--right-sidebar-width) - 20vw);
    font-size: 16px;
    padding: 10px 40px;
    margin-top: 100px;
    font-weight: 600;
}

/* ------------------------------------------------------------------ */

div[class='mid'] {
    flex: 1 1 auto;
    appearance: none;
    background-color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

div[class='inner-mid'] {
    flex: 1 1 auto;
    display: flex;
    gap: 30px;
    flex-direction: row;
    width: 50%;
}

div[class='row-1'],
div[class='row-2'],
div[class='row-3']
 {
    flex: 1 1 auto;
    display: flex;
    gap: 40px;
    flex-direction: row;
    font-size: 10px;
    font-weight: bold;
    color: rgb(112, 112, 112);
}


div[class='row-2']>div,
div[class='row-3']>div {
    margin-top: 15px;
}

input {
    flex: 1 1 auto;
    padding: 5px 8px;
    margin: 0px;
    box-sizing: border-box;
    width: 20vw;
    height: 3vh;
    gap: 10px;
    border: 1px #E5E7EB solid;
    border-radius: 2px;
}

input:invalid {
    border: 1px red solid;
}

input:focus {
    box-shadow: 0px 0px 5px 2px rgb(112, 112, 112);
}

/* ------------------------------------------------------------------ */

div[class='bot'] {
    padding: 20px 40px;
}

div[class='bot']>button {
    background-color: #596D48;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 8px;
    margin-bottom: -10px;
}